.idea/*
# share copyright profiles
!.idea/copyright

*.iml
*.so
.gradle
.DS_Store
**/build
**/out
demo-android-app/src/main/jniLibs/arm64-v8a/org/*
demo-android-app/src/main/jniLibs/arm64-v8a/META-INF/*
demo-android-app/src/main/jniLibs/x86_64/org/*
demo-android-app/src/main/jniLibs/x86_64/META-INF/*
/kotlin-js-store/yarn.lock

local.properties
skiko-jni-libs.zip

.maven-publish-dev-repo/*